//color schemes
//1
$styleNumber: '';
$colorMain: #5caf01;
$colorMain2: #6fcd07;
$colorMain3: #2792ff ;
$colorMain4: #d8efdb;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;